---
layout: base
title: Home 
---

<div class="panel panel-default">
    <div class="panel-body">
        <h2>Welcome</h2>
        <p>
            Welcome to the homepage of Code@LTH!
        </p>

        <h2>About</h2>
        <p>
            {% include about-short.html %}
        </p>

        <p>
            You can read more about Code@LTH on our <a href="{{ site.baseurl }}/about/">About page</a>.
        </p>

        <h2>Blog Posts</h2>
        <ul class="posts">
            {% for post in site.posts %}
            <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></li>
            {% endfor %}
        </ul>

        <h2>Calendar</h2>
        <iframe src="https://www.google.com/calendar/embed?showTitle=0&amp;mode=AGENDA&amp;height=300&amp;wkst=2&amp;hl=en&amp;bgcolor=%23FFFFFF&amp;src=oubpi3372hdf6otkatuqre434k%40group.calendar.google.com&amp;color=%230F4B38&amp;ctz=Europe%2FStockholm" style="border-width:0" width="100%" height="300" frameborder="0" scrolling="no"></iframe>

    </div>
</div>
