---
layout: panel-with-sidebar
title: Home
---

<h2>Welcome</h2>
<p>
    Welcome to the homepage of Code@LTH!
</p>

<h2>About</h2>
<p>
    {% include about.html %}
</p>

<p>
    You can read more about Code@LTH on our <a href="{{ site.baseurl }}/about/">About page</a>.
</p>


<h2>Events</h2>

You can find all our events on <a href="https://www.facebook.com/CodeAtLTH/events">Facebook</a>.


<h2>Blog Posts</h2>
<ul class="posts">
    {% for post in site.posts %}
    <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></li>
    {% endfor %}
</ul>
