---
layout: panel
title: About
---

<h2>About</h2>
<p>
    Code@LTH is a coding community at
    <a href="https://en.wikipedia.org/wiki/Faculty_of_Engineering_(LTH),_Lund_University">The Faculty of Engineering</a>, <a href="https://en.wikipedia.org/wiki/Lund_University">Lund University</a>
    created to motivate and inspire people to code recreationally.

    We arrange a diverse range of events related to programming, including things like lectures, programming contests (including <a href="https://hashcode.withgoogle.com/">Google Hashcode</a> and <a href="http://ludumdare.com">Ludum Dare</a>), hackathons, presentations about members projects and more.
    The events are open to programmers of all skill levels and generally anybody who wants to join in on the fun!
</p>
