<div class="panel panel-default">
    <div class="panel-heading">
        Links
    </div>
    <div class="panel-body">
        <ul>
            <li>
                <a href="https://www.facebook.com/CodeAtLTH">
                    Facebook page
                </a>
            </li>
            <li>
                <a href="https://github.com/Code-at-LTH">
                    GitHub organization
                </a>
            </li>
        </ul>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        Chat with us on IRC!
    </div>
    <div class="panel-body">
        <p>
            We're in <a href="https://webchat.freenode.net/?channels=CodeAtLTH">#CodeAtLTH</a> on Freenode.
        </p>
        
        <p>
            Connect with client of choice. If you are new to IRC you can either use the simple <a href="https://webchat.freenode.net/?channels=CodeAtLTH">Freenode web client</a> or use the excellent web client by <a href="https://irccloud.com/">IRCCloud</a>.
        </p>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        Subscribe to the newsletter!
    </div>
    <div class="panel-body">
        <!-- Begin MailChimp Signup Form -->
        <div id="mc_embed_signup">
            <form action="//dsek.us9.list-manage.com/subscribe/post?u=9101c06fdfddc1d11db5641bf&amp;id=b80f0c1989" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                <div id="mc_embed_signup_scroll">
                    <input type="email" value="" name="EMAIL" class="email form-control" id="mce-EMAIL" placeholder="Enter your email here" required>
                    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                    <div style="position: absolute; left: -5000px;">
                        <input type="text" name="b_9101c06fdfddc1d11db5641bf_b80f0c1989" tabindex="-1" value="">
                    </div>
                    <div class="center-block" style="margin-top: 10px;">
                        <input class="btn btn-success btn-block" type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe">
                    </div>
                </div>
            </form>
        </div>
        <!--End mc_embed_signup-->
    </div>
</div>

<div class="panel" style="margin-left: -5px; margin-right: -5px;">
        <!-- Facebook page plugin stuff -->
        <div id="fb-root"></div>
        <script>(function(d, s, id) {
var js, fjs = d.getElementsByTagName(s)[0];
if (d.getElementById(id)) return;
js = d.createElement(s); js.id = id;
js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.3";
fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

        <div class="fb-page" data-href="https://www.facebook.com/code-at-lth" data-hide-cover="false" data-show-facepile="true" data-show-posts="true">
            <div class="fb-xfbml-parse-ignore">
                <blockquote cite="https://www.facebook.com/code-at-lth">
                    <a href="https://www.facebook.com/code-at-lth">Code at LTH</a>
                </blockquote>
            </div>
        </div>
</div>
