<div class="panel panel-default">
    <div class="panel-heading">
        Links
    </div>
    <div class="panel-body">
        <ul>
            <li>
                <a href="https://github.com/Code-at-LTH">
                    GitHub organization
                </a>
            </li>
            <li>
                <a href="https://trello.com/b/ttyuwTvn/meta">
                    Trello
                </a>
            </li>
            <li>
                <a href="https://www.facebook.com/CodeAtLTH">
                    Facebook page
                </a>
            </li>
        </ul>
    </div>
</div>

<div class="panel" style="margin-left: -5px; margin-right: -5px;">
        <!-- Facebook page plugin stuff -->
        <div id="fb-root"></div>
        <script>(function(d, s, id) {
var js, fjs = d.getElementsByTagName(s)[0];
if (d.getElementById(id)) return;
js = d.createElement(s); js.id = id;
js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.3";
fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

        <div class="fb-page" data-href="https://www.facebook.com/code-at-lth" data-hide-cover="false" data-show-facepile="true" data-show-posts="true">
            <div class="fb-xfbml-parse-ignore">
                <blockquote cite="https://www.facebook.com/code-at-lth">
                    <a href="https://www.facebook.com/code-at-lth">Code at LTH</a>
                </blockquote>
            </div>
        </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        Calendar
    </div>
    <div class="panel body">
        <iframe src="https://calendar.google.com/calendar/embed?title=%20&amp;mode=AGENDA&amp;height=400&amp;wkst=2&amp;hl=en&amp;bgcolor=%23FFFFFF&amp;src=oubpi3372hdf6otkatuqre434k%40group.calendar.google.com&amp;color=%23B1365F&amp;ctz=Europe%2FStockholm" 
                style="border-width:0" width="100%" height="400" frameborder="0" scrolling="no"></iframe>
    </div>
</div>
